match-detail, .match-detail {
    .button {
        border-radius: 0;
        margin: 10px 5px;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .strike-out {
        text-decoration: line-through;
        color: darkred;
    }

    .card-header {
        .level {
            width: 100%;

            span {
                padding-left: 1px;
                padding-right: 2px;
            }

            .date-time {
                padding-right: 10px;
            }
        }
    
        &.dark-green {
            color: red;
        }

        &.dark-orange {
            color: darkblue;
        }
    
    }

    .card-content {
        font-size: larger;

        .result {
            text-align: center;
            font-size: 2rem;
            font-weight: 500;

            .first-half {
                &.level {
                    margin-bottom: 0;
                }
            }

            .second-half {
                .home-result:before {
                    content: "(";
                }

                .away-result:after {
                    content: ")";
                }
            }
        }
    }
}

